*{
    margin: 0;
    padding: 0;
}
.cabecera{
    padding: 15px;
    width: 100%;
    font-size: 1.4em;
    color:white;
    height: 25px;
}
li, a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

a:hover{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 30px;
    background-color:#363636;
    height: 10px;
    width: 100%;
}

#center{ 
    margin-right: 50%;
    margin-left: 40%; 
}